<h1>Burgers!</h1>

<h2>Burger Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless ordered}}
      {{> burgers/burger-block ordered=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Let's Eat!</h2>

<ul>
  {{#each burgers}}
    {{#if ordered}}
      {{> burgers/burger-block ordered=false}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="add-a-burger-heading">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="addburger">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devour">Eat?</label><br>
    <input type="radio" name="ordered" value="1" checked> To Eat!<br>
    <input type="radio" name="ordered" value="0"> Devoured
  </div> --}}
  <button type="submit">Add Burger</button>
</form>

<script>
  $(function(){
      $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    let newBurger = {
      burger_name: $("#addburger").val().trim(),
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  })
</script>