li {
  padding: 5px;
  margin: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

.row {
  margin: 20px;
}

.col {
  padding: 0px;
}

.jumbotron {
  padding: 20px;
  background-color: #ffb85c
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

ol {
  text-align: center;
  list-style-position: inside;
}

h2 {
  margin: 0px;
  text-align: center;
}

img {
  margin: 30px;
}

.add {
  text-align: center;
}